
      
      <div class="container p-4">
   <div class="row">
      <div class= "col-md-6 mt-5">
           <div class="card text-center mx-auto" >
                <div class="card-body">
                     <img src="/public/upload/{{vlargosimgs.filename}}" class="img-fluid">
                </div>        
                <div class="card-footer">
              

                </div>
            </div>
       </div>
       <div class= "col-md-6 mt-5">
           <div class="card text-center mx-auto" >
                <div class="card-body">
                    <h2>{{ vlargosimgs.product }}</h2>
                    <h2>${{ vlargosimgs.price }}</h2>
                </div>  

                <div class="card-body">
                     <a href="/addtocarddd/{{vlargosimgs._id}}" class="btn btn-success pull-right" role="button">Add</a>
                </div>       
            </div>
       </div>

    </div>
</div>
