<h1>Checkout</h1>
<h4>Your total: ${{total}}</h4>

<form action="/checkout" method="POST" id="checkout-form">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Name" autofocus/>
        </div>
       <div class="form-group">
          <input type="text" name="address" class="form-control" placeholder="Address" autofocus/>
        </div>
            <div class="form-group">
              <input class="form-control" type="radio" name="color" value="rojo" > Rojo
              <input class="form-control" type="radio" name="color" value="negro" > Negro
              <input class="form-control" type="radio" name="color" value="blanco" >Blanco
            </div>

            <div class="form-group">
              <input class="form-control" type="radio" name="talle" value="S" > S
              <input class="form-control" type="radio" name="talle" value="M" > M
              <input class="form-control" type="radio" name="talle" value="L" >L
              <input class="form-control" type="radio" name="talle" value="XL" >XL
              <input class="form-control" type="radio" name="talle" value="XXL" >XXL
            </div>

        <div class="form-group">
          <input type="number" name="price" class="form-control" placeholder="price" autofocus/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Pay
          </button>
        </div>
      </form>